<nav class="navbar">
    <div class="navbar-brand">
        <a class="navbar-item" href="">
            <img src="img/logo.png" alt="Bike routes" width="112" height="28">
        </a>
        <div class="navbar-end is-hidden-desktop">
            <div class="navbar-item">
                <div class="field is-grouped">
                    <% if (user) {%>
                        <p class="control">
                            <a class="button sign-out">
                                <span class="icon sign-out">
                                    <i class="fa fa-sign-out sign-out"></i>
                                </span>
                            </a>
                        </p>
                    <% } else {%>
                        <p class="control">
                            <a class="button is-primary sign-in">
                                <span class="icon sign-in">
                                    <i class="fa fa-sign-in sign-in"></i>
                                </span>
                            </a>
                        </p>
                    <% } %>
                </div>
            </div>
        </div>
    </div>

    <div id="navMenuExample" class="navbar-menu">
        <div class="navbar-start">

            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link ">
                    Маршруты
                </a>
                <div id="routesDropdown" class="navbar-dropdown " data-style="width: 18rem;">

                    <a class="navbar-item ">
                        <p class="control">
                            <label class="checkbox">
                                <input type="checkbox" class="main-bike-route" checked="true">
                                Главная велодорожка
                            </label>
                        </p>
                    </a>

                    <a class="navbar-item ">
                        <p class="control">
                            <label class="checkbox">
                                <input type="checkbox" class="simple-bike-route" checked="true">
                                Велодорожки на тротуарах
                            </label>
                        </p>
                    </a>
                </div>
            </div>

            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link  is-active">
                    Метки
                </a>
                <div class="navbar-dropdown ">
                    <a class="navbar-item ">
                        <p class="control">
                            <label class="checkbox">
                                <input type="checkbox" class="bike-service" checked="true">
                                Велосервисы
                            </label>
                        </p>
                    </a>
                    <a class="navbar-item ">
                        <p class="control">
                            <label class="checkbox">
                                <input type="checkbox" class="food" checked="true">
                                Питание
                            </label>
                        </p>
                    </a>
                    <a class="navbar-item ">
                        <p class="control">
                            <label class="checkbox">
                                <input type="checkbox" class="wc" checked="true">
                                Туалеты
                            </label>
                        </p>
                    </a>

                    <a class="navbar-item ">
                        <p class="control">
                            <label class="checkbox">
                                <input type="checkbox" class="bike-parking" checked="true">
                                Велопарковки
                            </label>
                        </p>
                    </a>
                </div>
            </div>
        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                <div class="field is-grouped">
                    <% if (user) {%>
                        <p class="control">
                            <a class="button sign-out">
                                <span class="icon sign-out">
                                    <i class="fa fa-sign-out sign-out"></i>
                                </span>
                                <span class="sign-out">Sign out</span>
                            </a>
                        </p>
                    <% } else {%>
                        <p class="control">
                            <a class="button is-primary sign-in">
                                <span class="icon sign-in">
                                    <i class="fa fa-sign-in sign-in"></i>
                                </span>
                                <span class="sign-in">Sign in</span>
                            </a>
                        </p>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</nav>